.aboutCont {
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 3px solid white;
}

.aboutBG {
  position: absolute;
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #000, hsl(0deg 0% 0% / 70%));
  backdrop-filter: blur(3px);
  border-bottom: 3px solid white;
}

.about {
  height: 100%;
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.aboutMain {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.aboutImgCont {
  width: 15rem;
  height: 15rem;
  background:
    linear-gradient(
      0deg,
      rgba(0, 213, 11, 1) 0%,
      rgba(0, 154, 7, 1) 17%,
      rgba(0, 0, 0, 0) 83%
    );
  border-radius: 50%;
  opacity: 0.7;
  border: 3px solid white;
}

.aboutImg {
  background-image: url(../assets/img/profileNoBg.webp);
  background-position: 62% 46%;
  background-size: 120%;
  background-repeat: no-repeat;
  padding: 1rem;
  width: 14.7rem;
  height: 14.7rem;
  border-radius: 50%;
  opacity: 0.7;
  filter: grayscale(100%) contrast(1.5);
}

.aboutInfo {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutDesc {
  padding: 2rem;
}

.aboutSpan {
  color: rgb(0, 255, 13);
  white-space: nowrap;
  -webkit-text-stroke: 0.7px;
}

.aboutButtonCont {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.buttonCont {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.aboutButton {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.95);
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 18px;
  text-decoration: none;
  -webkit-text-stroke: 0.5px;
  transition: 600ms all ease-in-out;
}

.aboutButton:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 0;
  }

  .aboutMain {
    width: 100%;
    padding: 1rem 0 0;
    border: none;
  }

  .aboutTitle {
    margin: 0 0 1rem;
  }

  .aboutInfo {
    width: 100%;
    align-items: center;
    border: none;
  }

  .aboutDesc {
    padding: 1rem 2rem;
  }

  .aboutButtonCont {
    position: inherit;
    gap: 1rem;
  }
}
