.experienceCont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: -15rem;
  z-index: 5;
  background-color: rgb(0, 0, 0);
}

.experienceTitle {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.experienceTitle h2 {
  font-size: 2rem;
}

.experienceTitle h3 {
  color: grey;
  font-size: 1.5rem;
}

.timeLine {
  /*     background-color: red; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.timeLine::-webkit-scrollbar {
  display: none;
}

.timeline-name {
  color: rgb(30, 255, 0);
  font-size: 0.9rem;
  padding: 0 !important;
  margin: 0 !important;
}

.vertical-timeline-element-subtitle {
  font-size: 1.1rem;
  color: rgb(159, 159, 159);
  padding: 0 !important;
  margin: 0 !important;
}

.timeline-text {
  line-height: 1.3rem !important;
  font-size: 1rem;
}

.divider {
  width: 100%;
  height: 3px;
  background-color: white;
  z-index: 4;
}

@media (min-width: 768px) {
  .timeLine {
    padding: 0 4rem;
  }
}
