.projectsCont {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsDescCont {
  width: 100%;
  margin-top: 3.5rem;
  padding: 2rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  z-index: 0;
  background-color: black;
}

.projectDesc {
  color: white;
}

.projectCont {
  max-width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  grid-gap: 1rem 1rem;
  padding: 3rem 1rem;
}

.project {
  background-color: rgba(77, 77, 77, 0.35);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  height: 25rem;
  min-width: 15rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.projectImg {

}

.projectTitle {
  color: white;
}

.projectDesc {
  color: white;
  text-align: center;
}

.projectTechs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
}

.tech {
  background-color: var(--sGrey);
  padding: 5px 10px;
}

@media screen and (max-width: 500px) {
  .projectsCont {
    padding-bottom: 3rem;
  }

  .project {
    min-width: 24rem;
    max-width: 24rem;
  }
}

/* another media query for 400px */
@media screen and (max-width: 400px) {
  .project {
    min-width: 20rem;
    max-width: 20rem;
  }
}
